---
openapi: 3.0.0

servers:
  - url: https://api.kraken.com/0
    description: Production Server

info:
  title: REST API
  version: 1.1.0
  description: ""

paths:
  /public/Time:
    get:
      tags:
        - Market Data
      summary: Get Server Time
      description: |
              Get the server's time.

      operationId: getServerTime
      security: []
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/public/time.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "unixtime": 1688669448,
                        "rfc1123": "Thu, 06 Jul 23 18:50:48 +0000",
                      },
                  }
                #$ref: './examples/responses/public/time.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /public/SystemStatus:
    get:
      tags:
        - Market Data
      summary: Get System Status
      description: |
                  Get the current system status or trading mode.

      operationId: getSystemStatus
      security: []
      # requestBody:
      #   description: blah
      #   content:
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    properties:
                      status:
                        type: string
                        enum: [online, maintenance, cancel_only, post_only]
                        description: |
                          Current system status:
                          * `online`  Kraken is operating normally. All order types may be submitted and trades can occur.
                          * `maintenance`  The exchange is offline. No new orders or cancellations may be submitted.
                          * `cancel_only`  Resting (open) orders can be cancelled but no new orders may be submitted. No trades will occur.
                          * `post_only`  Only post-only limit orders can be submitted. Existing orders may still be cancelled. No trades will occur.
                      timestamp:
                        type: string
                        description: Current timestamp (RFC3339)
                  error:
                    $ref: "./schemas/objects/errors/error.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      { "status": "online", "timestamp": "2023-07-06T18:52:00Z" },
                  }


  /public/Assets:
    get:
      tags:
        - Market Data
      summary: Get Asset Info
      description: |
              Get information about the assets that are available for deposit, withdrawal, trading and earn.

      operationId: getAssetInfo
      security: []
      parameters:
        - $ref: "./partials/parameters/query/asset.yaml"
        - $ref: "./partials/parameters/query/aclass.yaml"
      responses:
        "200":
          description: Asset info retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/public/assets/info.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "XXBT":
                          {
                            "aclass": "currency",
                            "altname": "XBT",
                            "decimals": 10,
                            "display_decimals": 5,
                            "collateral_value": 1,
                            "status": "enabled",
                          },
                        "ZEUR":
                          {
                            "aclass": "currency",
                            "altname": "EUR",
                            "decimals": 4,
                            "display_decimals": 2,
                            "collateral_value": 1,
                            "status": "enabled",
                          },
                        "ZUSD":
                          {
                            "aclass": "currency",
                            "altname": "USD",
                            "decimals": 4,
                            "display_decimals": 2,
                            "collateral_value": 1,
                            "status": "enabled",
                          },
                      },
                  }
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /public/AssetPairs:
    get:
      tags:
        - Market Data
      summary: Get Tradable Asset Pairs
      description: |
                Get tradable asset pairs

      operationId: getTradableAssetPairs
      security: []
      parameters:
        - in: query
          name: pair
          description: Asset pairs to get data for
          schema:
            type: string
          example: BTC/USD,ETH/BTC
        - in: query
          name: aclass_base
          schema:
            type: string
            enum:
              - currency
              - tokenized_asset
            default: currency
          description: |
            Filters the asset class to retrieve (optional)

              * `currency` = spot currency pairs.
              * `tokenized_asset` = tokenized asset pairs, i.e. xstocks.
        - in: query
          name: info
          schema:
            type: string
            enum:
              - info
              - leverage
              - fees
              - margin
            default: info
          description: |
            Info to retrieve (optional)

              * `info` = all info
              * `leverage` = leverage info
              * `fees` = fees schedule
              * `margin` = margin info
        - in: query
          name: country_code
          description: Filter for response to only include pairs available in the provided country/region.
          schema:
            type: ISO 3166-1 alpha-2
          example: GB
      responses:
        "200":
          description: Tradable asset pairs retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    description: Pair names and their info
                    type: object
                    additionalProperties:
                      $ref: "./schemas/objects/public/assets/pairs.yaml"
                  error:
                    $ref: "./schemas/objects/errors/error.yaml"
                example:
                  $ref: "./examples/responses/public/assets/pairs.yaml"
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /public/Ticker:
    get:
      summary: Get Ticker Information
      description: |
                    Get ticker information for all or requested markets. To clarify usage, note that 
                    * Today's prices start at midnight UTC
                    * Leaving the pair parameter blank will return tickers for all tradeable assets on Kraken
      
      tags:
        - Market Data
      operationId: getTickerInformation
      security: []
      parameters:
        - $ref: "./partials/parameters/query/wildcard_pair.yaml"
        # - name: asset_class
        #   in: query
        #   description: The asset_class is required on requests for tokenized assets, i.e. xstocks.
        #   required: false
        #   schema:
        #     type: string
        #     enum:
        #       - tokenized_asset
      responses:
        "200":
          description: Ticker info retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/public/ticker.yaml"

        # '500':
        #   $ref: './partials/responses/500.yaml'


  /public/OHLC:
    get:
      summary: Get OHLC Data
      description: |
                Retrieve OHLC market data.
                The last entry in the OHLC array is for the current, not-yet-committed timeframe, and will always be present, regardless of the value of `since`.
                Returns up to 720 of the most recent entries (older data cannot be retrieved, regardless of the value of `since`).
      
      tags:
        - Market Data
      operationId: getOHLCData
      security: []
      parameters:
        - $ref: "./partials/parameters/query/pair.yaml"
        - name: interval
          description: Time frame interval in minutes
          in: query
          schema:
            type: integer
            default: 1
            enum: [1, 5, 15, 30, 60, 240, 1440, 10080, 21600]
          example: 60
        - name: since
          in: query
          description: Return OHLC entries since the given timestamp (intended for incremental updates)
          schema:
            type: integer
          example: 1688671200
        - $ref: "./partials/parameters/query/asset_class.yaml"
      responses:
        "200":
          description: OHLC data retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/public/ohlc.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "XXBTZUSD":
                          [
                            [
                              1688671200,
                              "30306.1",
                              "30306.2",
                              "30305.7",
                              "30305.7",
                              "30306.1",
                              "3.39243896",
                              23,
                            ],
                            [
                              1688671260,
                              "30304.5",
                              "30304.5",
                              "30300.0",
                              "30300.0",
                              "30300.0",
                              "4.42996871",
                              18,
                            ],
                            [
                              1688671320,
                              "30300.3",
                              "30300.4",
                              "30291.4",
                              "30291.4",
                              "30294.7",
                              "2.13024789",
                              25,
                            ],
                            [
                              1688671380,
                              "30291.8",
                              "30295.1",
                              "30291.8",
                              "30295.0",
                              "30293.8",
                              "1.01836275",
                              9,
                            ],
                          ],
                        "last": 1688672160,
                      },
                  }
                # $ref: './examples/responses/public/ohlc.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /public/Depth:
    get:
      summary: Get Order Book
      description: |
                  Returns level 2 (L2) order book, which describes the individual price levels in the book with aggregated order quantities at each level.

      tags:
        - Market Data
      operationId: getOrderBook
      security: []
      parameters:
        - $ref: "./partials/parameters/query/pair.yaml"
        - name: count
          description: Maximum number of asks/bids
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
          example: 2
        - $ref: "./partials/parameters/query/asset_class.yaml"
      responses:
        "200":
          description: Order book entries retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/public/depth.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "XXBTZUSD":
                          {
                            "asks":
                              [
                                ["30384.10000", "2.059", 1688671659],
                                ["30387.90000", "1.500", 1688671380],
                                ["30393.70000", "9.871", 1688671261],
                              ],
                            "bids":
                              [
                                ["30297.00000", "1.115", 1688671636],
                                ["30296.70000", "2.002", 1688671674],
                                ["30289.80000", "5.001", 1688671673],
                              ],
                          },
                      },
                  }
                # $ref: './examples/responses/public/depth.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /public/Trades:
    get:
      summary: Get Recent Trades
      description: |
                  Returns the last 1000 trades by default

      tags:
        - Market Data
      operationId: getRecentTrades
      security: []
      parameters:
        - $ref: "./partials/parameters/query/pair.yaml"
        - name: since
          in: query
          description: Return trade data since given timestamp
          schema:
            type: string
          example: "1616663618"
        - name: count
          in: query
          description: Return specific number of trades, up to 1000
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
          example: 2
        - $ref: "./partials/parameters/query/asset_class.yaml"
      responses:
        "200":
          description: Trade data retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/public/trades.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "XXBTZUSD":
                          [
                            [
                              "30243.40000",
                              "0.34507674",
                              1688669597.8277369,
                              "b",
                              "m",
                              "",
                              61044952,
                            ],
                            [
                              "30243.30000",
                              "0.00376960",
                              1688669598.2804112,
                              "s",
                              "l",
                              "",
                              61044953,
                            ],
                            [
                              "30243.30000",
                              "0.01235716",
                              1688669602.698379,
                              "s",
                              "m",
                              "",
                              61044956,
                            ],
                          ],
                        "last": "1688671969993150842",
                      },
                  }
                # $ref: './examples/responses/public/trades.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /public/Spread:
    get:
      summary: Get Recent Spreads
      description: |
                  Returns the last ~200 top-of-book spreads for a given pair

      tags:
        - Market Data
      operationId: getRecentSpreads
      security: []
      parameters:
        - $ref: "./partials/parameters/query/pair.yaml"
        - name: since
          in: query
          description: Returns spread data since given timestamp. Optional, intended for incremental updates within available dataset (does not contain all historical spreads).
          schema:
            type: integer
          example: 1678219570
        - $ref: "./partials/parameters/query/asset_class.yaml"
      responses:
        "200":
          description: Spread data retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/public/spread.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "XXBTZUSD":
                          [
                            [1688671834, "30292.10000", "30297.50000"],
                            [1688671834, "30292.10000", "30296.70000"],
                            [1688671834, "30292.70000", "30296.70000"],
                          ],
                        "last": 1688672106,
                      },
                  }
                #$ref: './examples/responses/public/spread.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/Balance:
    post:
      summary: Get Account Balance
      description: |
        Retrieve all cash balances, net of pending withdrawals.
    
        **Note on Staking/Earn assets:** We have begun to migrate assets from our legacy Staking system over to a new Earn system. As such, the following assets may appear in your balances and ledger. Please see our [Support article](https://support.kraken.com/hc/en-us/articles/360039879471-What-is-Asset-S-and-Asset-M-) for more details. Note that these assets are "read-only", to interact with your balances in them please use the base asset (e.g. `USDT` to transact with your `USDT` and `USDT.F` balances).

        **Symbol Extensions**:
        * `.B`: balances in new yield-bearing products, similar to `.S` (staked) and `.M` (opt-in rewards) balances
        * `.F`: balances earning automatically in Kraken Rewards
        * `.T`: tokenized assets.

        **API Key Permissions Required:** `Funds permissions - Query`
      tags:
        - Account Data
      operationId: getAccountBalance
      
      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nonce:
                  $ref: "./partials/properties/nonce.yaml"
                rebase_multiplier:
                  $ref: "./partials/properties/rebase_multiplier.yaml"
              required:
                - nonce

      responses:
        "200":
          description: Account balances retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/user/account/balance.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "ZUSD": "171288.6158",
                        "ZEUR": "504861.8946",
                        "XXBT": "1011.1908877900",
                        "XETH": "818.5500000000",
                        "USDT": "500000.00000000",
                        "DAI": "9999.9999999999",
                        "DOT": "2.5000000000",
                        "ETH2.S": "198.3970800000",
                        "ETH2": "2.5885574330",
                        "USD.M": "1213029.2780",
                      },
                  }
                # $ref: './examples/responses/user/account/balance.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/BalanceEx:
    post:
      summary: Get Extended Balance
      description: |
        Retrieve all extended account balances, including credits and held amounts. Balance available for trading is calculated as: `available balance = balance + credit - credit_used - hold_trade`

        **Note on Staking/Earn assets:** We have begun to migrate assets from our legacy Staking system over to a new Earn system. As such, the following assets may appear in your balances and ledger. Please see our [Support article](https://support.kraken.com/hc/en-us/articles/360039879471-What-is-Asset-S-and-Asset-M-) for more details. Note that these assets are "read-only", to interact with your balances in them please use the base asset (e.g. `USDT` to transact with your `USDT` and `USDT.F` balances).

        **Symbol Extensions**:
        * `.B`: balances in new yield-bearing products, similar to `.S` (staked) and `.M` (opt-in rewards) balances
        * `.F`: balances earning automatically in Kraken Rewards
        * `.T`: tokenized assets.

        **API Key Permissions Required:** `Funds permissions - Query`
      tags:
        - Account Data
      operationId: getExtendedBalance

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nonce:
                  $ref: "./partials/properties/nonce.yaml"
                rebase_multiplier:
                  $ref: "./partials/properties/rebase_multiplier.yaml"
              required:
                - nonce

      responses:
        "200":
          description: Extended account balances retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/user/account/balanceex.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "ZUSD": { "balance": 25435.21, "hold_trade": 8249.76 },
                        "XXBT":
                          { "balance": 1.24350000, "hold_trade": 0.84230000 },
                      },
                  }
                # $ref: './examples/responses/user/account/balance.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/CreditLines:
    post:
      summary: Get Credit Lines
      description: |
        Retrieve all credit line details for VIPs with this functionality.

        **API Key Permissions Required:** `Funds permissions - Query`
      tags:
        - Account Data
      operationId: getCreditLines

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nonce:
                  $ref: "./partials/properties/nonce.yaml"
                rebase_multiplier:
                  $ref: "./partials/properties/rebase_multiplier.yaml"
              required:
                - nonce

      responses:
        "200":
          description: Credit line details retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/user/account/creditlines.yaml"
                example:
                  {
                    "error": [],
                    "result": {
                      "asset_details": {
                        "USD": {
                          "balance": "1000.5000",
                          "credit_limit": "50000.0000",
                          "credit_used": "12500.0000",
                          "available_credit": "37500.0000"
                        },
                        "EUR": {
                          "balance": "500.2500",
                          "credit_limit": "25000.0000",
                          "credit_used": "5000.0000",
                          "available_credit": "20000.0000"
                        }
                      },
                      "limits_monitor": {
                        "total_credit_usd": "100000.0000",
                        "total_credit_used_usd": "25000.0000",
                        "total_collateral_value_usd": "150000.0000",
                        "equity_usd": "125000.0000",
                        "ongoing_balance": "1.5000",
                        "debt_to_equity": "0.2000"
                      }
                    }
                  }


  /private/TradeBalance:
    post:
      summary: Get Trade Balance
      description: |
        Retrieve a summary of collateral balances, margin position valuations, equity and margin level.

        **API Key Permissions Required:** `Orders and trades - Query open orders & trades`
      tags:
        - Account Data
      operationId: getTradeBalance

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        $ref: "./schemas/requests/user/trades/balance.yaml"

      responses:
        "200":
          description: Trade balances retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/user/trades/balance.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "eb": "1101.3425",
                        "tb": "392.2264",
                        "m": "7.0354",
                        "n": "-10.0232",
                        "c": "21.1063",
                        "v": "31.1297",
                        "e": "382.2032",
                        "mf": "375.1678",
                        "ml": "5432.57",
                      },
                  }
                # $ref: './examples/responses/user/trades/balance.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/OpenOrders:
    post:
      summary: Get Open Orders
      description: |
        Retrieve information about currently open orders.

        **API Key Permissions Required:** `Orders and trades - Query open orders & trades`
      tags:
        - Account Data
      operationId: getOpenOrders

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        $ref: "./schemas/requests/user/openOrders.yaml"

      responses:
        "200":
          description: Open orders info retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/user/orders/open.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "open":
                          {
                            "OQCLML-BW3P3-BUCMWZ":
                              {
                                "refid": None,
                                "userref": 0,
                                "status": "open",
                                "opentm": 1688666559.8974,
                                "starttm": 0,
                                "expiretm": 0,
                                "descr":
                                  {
                                    "pair": "XBTUSD",
                                    "type": "buy",
                                    "ordertype": "limit",
                                    "price": "30010.0",
                                    "price2": "0",
                                    "leverage": "none",
                                    "order": "buy 1.25000000 XBTUSD @ limit 30010.0",
                                    "close": "",
                                  },
                                "vol": "1.25000000",
                                "vol_exec": "0.37500000",
                                "cost": "11253.7",
                                "fee": "0.00000",
                                "price": "30010.0",
                                "stopprice": "0.00000",
                                "limitprice": "0.00000",
                                "misc": "",
                                "oflags": "fciq",
                                "trades": ["TCCCTY-WE2O6-P3NB37"],
                              },
                            "OB5VMB-B4U2U-DK2WRW":
                              {
                                "refid": None,
                                "userref": 45326,
                                "status": "open",
                                "opentm": 1688665899.5699,
                                "starttm": 0,
                                "expiretm": 0,
                                "descr":
                                  {
                                    "pair": "XBTUSD",
                                    "type": "buy",
                                    "ordertype": "limit",
                                    "price": "14500.0",
                                    "price2": "0",
                                    "leverage": "5:1",
                                    "order": "buy 0.27500000 XBTUSD @ limit 14500.0 with 5:1 leverage",
                                    "close": "",
                                  },
                                "vol": "0.27500000",
                                "vol_exec": "0.00000000",
                                "cost": "0.00000",
                                "fee": "0.00000",
                                "price": "0.00000",
                                "stopprice": "0.00000",
                                "limitprice": "0.00000",
                                "misc": "",
                                "oflags": "fciq",
                              },
                          },
                      },
                  }
                # $ref: './examples/responses/user/orders/open.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/ClosedOrders:
    post:
      summary: Get Closed Orders
      description: |
        Retrieve information about orders that have been closed (filled or cancelled). 50 results are returned at a time, the most recent by default.

        **Note:** If an order's tx ID is given for `start` or `end` time, the order's opening time (`opentm`) is used

        **API Key Permissions Required:** `Orders and trades - Query closed orders & trades`
      tags:
        - Account Data
      operationId: getClosedOrders

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        $ref: "./schemas/requests/user/closedOrders.yaml"

      responses:
        "200":
          description: Closed orders info retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/user/orders/closed.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "closed":
                          {
                            "O37652-RJWRT-IMO74O":
                              {
                                "refid": None,
                                "userref": 1,
                                "status": "canceled",
                                "reason": "User requested",
                                "opentm": 1688148493.7708,
                                "closetm": 1688148610.0482,
                                "starttm": 0,
                                "expiretm": 0,
                                "descr":
                                  {
                                    "pair": "XBTGBP",
                                    "type": "buy",
                                    "ordertype": "stop-loss-limit",
                                    "price": "23667.0",
                                    "price2": "0",
                                    "leverage": "none",
                                    "order": "buy 0.00100000 XBTGBP @ limit 23667.0",
                                    "close": "",
                                  },
                                "vol": "0.00100000",
                                "vol_exec": "0.00000000",
                                "cost": "0.00000",
                                "fee": "0.00000",
                                "price": "0.00000",
                                "stopprice": "0.00000",
                                "limitprice": "0.00000",
                                "misc": "",
                                "oflags": "fciq",
                                "trigger": "index",
                              },
                            "O6YDQ5-LOMWU-37YKEE":
                              {
                                "refid": None,
                                "userref": 36493663,
                                "status": "canceled",
                                "reason": "User requested",
                                "opentm": 1688148493.7708,
                                "closetm": 1688148610.0477,
                                "starttm": 0,
                                "expiretm": 0,
                                "descr":
                                  {
                                    "pair": "XBTEUR",
                                    "type": "buy",
                                    "ordertype": "take-profit-limit",
                                    "price": "27743.0",
                                    "price2": "0",
                                    "leverage": "none",
                                    "order": "buy 0.00100000 XBTEUR @ limit 27743.0",
                                    "close": "",
                                  },
                                "vol": "0.00100000",
                                "vol_exec": "0.00000000",
                                "cost": "0.00000",
                                "fee": "0.00000",
                                "price": "0.00000",
                                "stopprice": "0.00000",
                                "limitprice": "0.00000",
                                "misc": "",
                                "oflags": "fciq",
                                "trigger": "index",
                              },
                          },
                        "count": 2,
                      },
                  }
                # $ref: './examples/responses/user/orders/closed.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/QueryOrders:
    post:
      summary: Query Orders Info
      description: |
        Retrieve information about specific orders.

        **API Key Permissions Required:** `Orders and trades - Query open orders & trades` or `Orders and trades - Query closed orders & trades`, depending on status of order
      tags:
        - Account Data
      operationId: getOrdersInfo

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/user/orders/query.yaml"
            examples:
              Example Query 2 orders:
                value:
                  nonce: 1695828490
                  trades: false
                  userref: 1693455284
                  txid: "STMH53C-C54CG-4SO42I, ST4USDQ-ZQBMB-FGET2G"
      responses:
        "200":
          description: Orders info retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/user/orders/query.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "OBCMZD-JIEE7-77TH3F":
                          {
                            "refid": None,
                            "userref": 0,
                            "status": "closed",
                            "reason": null,
                            "opentm": 1688665496.7808,
                            "closetm": 1688665499.1922,
                            "starttm": 0,
                            "expiretm": 0,
                            "descr":
                              {
                                "pair": "XBTUSD",
                                "type": "buy",
                                "ordertype": "stop-loss-limit",
                                "price": "27500.0",
                                "price2": "0",
                                "leverage": "none",
                                "order": "buy 1.25000000 XBTUSD @ limit 27500.0",
                                "close": "",
                              },
                            "vol": "1.25000000",
                            "vol_exec": "1.25000000",
                            "cost": "27526.2",
                            "fee": "26.2",
                            "price": "27500.0",
                            "stopprice": "0.00000",
                            "limitprice": "0.00000",
                            "misc": "",
                            "oflags": "fciq",
                            "trigger": "index",
                            "trades": ["TZX2WP-XSEOP-FP7WYR"],
                          },
                        "OMMDB2-FSB6Z-7W3HPO":
                          {
                            "refid": None,
                            "userref": 0,
                            "status": "closed",
                            "reason": null,
                            "opentm": 1688592012.2317,
                            "closetm": 1688592012.2335,
                            "starttm": 0,
                            "expiretm": 0,
                            "descr":
                              {
                                "pair": "XBTUSD",
                                "type": "sell",
                                "ordertype": "market",
                                "price": "0",
                                "price2": "0",
                                "leverage": "none",
                                "order": "sell 0.25000000 XBTUSD @ market",
                                "close": "",
                              },
                            "vol": "0.25000000",
                            "vol_exec": "0.25000000",
                            "cost": "7500.0",
                            "fee": "7.5",
                            "price": "30000.0",
                            "stopprice": "0.00000",
                            "limitprice": "0.00000",
                            "misc": "",
                            "oflags": "fcib",
                            "trades": ["TJUW2K-FLX2N-AR2FLU"],
                          },
                      },
                  }
                # $ref: './examples/responses/user/orders/query.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/OrderAmends:
    post:
      summary: Get Order Amends
      description: |
        Retrieves an audit trail of amend transactions on the specified order. The list is ordered by ascending amend timestamp.

        **API Key Permissions Required:** `Orders and trades - Query open orders & trades` or `Orders and trades - Query closed orders & trades`, depending on status of order.
      tags:
        - Account Data
      operationId: getOrderAmends

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/user/orders/amends.yaml"
      responses:
        "200":
          description: The first entry contains the original order parameters and has amend_type of `original`.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/user/orders/amends.yaml"
                example:
                  {
                      "response": {
                          "error": [],
                          "result": {
                              "amends": [
                                  {
                                      "amend_id": "TSUN4B-EX2XN-WQ6GKG",
                                      "amend_type": "original",
                                      "order_qty": "0.01000000",
                                      "remaining_qty": "0.01000000",
                                      "limit_price": "61032.8",
                                      "timestamp": 1724158070287557853
                                  },
                                  {
                                      "amend_id": "TF6VAW-VUWMX-6SXTCH",
                                      "amend_type": "user",
                                      "order_qty": "0.01000000",
                                      "remaining_qty": "0.01000000",
                                      "limit_price": "61032.7",
                                      "timestamp": 1724158076936755587
                                  },
                                  {
                                      "amend_id": "TUMY4K-E4MPE-CSL2N3",
                                      "amend_type": "user",
                                      "order_qty": "0.01000000",
                                      "remaining_qty": "0.01000000",
                                      "limit_price": "61032.6",
                                      "timestamp": 1724158214879659945
                                  }
                              ],
                              "count": 3
                          }
                      }
                  }


  /private/TradesHistory:
    post:
      summary: Get Trades History
      description: |
        Retrieve information about trades/fills. 50 results are returned at a time, the most recent by default.
        * Unless otherwise stated, costs, fees, prices, and volumes are specified with the precision for the asset pair (`pair_decimals` and `lot_decimals`), not the individual assets' precision (`decimals`).

        **API Key Permissions Required:** `Orders and trades - Query closed orders & trades`
      tags:
        - Account Data
      operationId: getTradeHistory

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        $ref: "./schemas/requests/user/trades/history.yaml"
      responses:
        "200":
          description: Trade history retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/user/trades/history.yaml"
                example:
                  {"error":[],"result":{"trades":{"THVRQM-33VKH-UCI7BS":{"ordertxid":"OQCLML-BW3P3-BUCMWZ","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1688667796.8802,"type":"buy","ordertype":"limit","price":"30010.00000","cost":"600.20000","fee":"0.00000","vol":"0.02000000","margin":"0.00000","misc":"","trade_id":40274859,"maker":True},"TCWJEG-FL4SZ-3FKGH6":{"ordertxid":"OQCLML-BW3P3-BUCMWZ","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1688667769.6396,"type":"buy","ordertype":"limit","price":"30010.00000","cost":"300.10000","fee":"0.00000","vol":"0.01000000","margin":"0.00000","misc":"","trade_id":39482674,"maker":True}}}}
                # $ref: './examples/responses/user/trades/history.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/QueryTrades:
    post:
      summary: Query Trades Info
      description: |
        Retrieve information about specific trades/fills.

        **API Key Permissions Required:** `Orders and trades - Query closed orders & trades`
      tags:
        - Account Data
      operationId: getTradesInfo

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        $ref: "./schemas/requests/user/trades/query.yaml"
      responses:
        "200":
          description: Trades info retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    description: Trade info
                    type: object
                    additionalProperties:
                      $ref: "./schemas/objects/user/trades/trade.yaml"
                  error:
                    type: array
                    items:
                      $ref: "./schemas/objects/errors/error.yaml"
                example:
                  {"error":[],"result":{"THVRQM-33VKH-UCI7BS":{"ordertxid":"OQCLML-BW3P3-BUCMWZ","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1688667796.8802,"type":"buy","ordertype":"limit","price":"30010.00000","cost":"600.20000","fee":"0.00000","vol":"0.02000000","margin":"0.00000","misc":"","trade_id":93748276,"maker":True},"TTEUX3-HDAAA-RC2RUO":{"ordertxid":"OH76VO-UKWAD-PSBDX6","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZEUR","time":1688082549.3138,"type":"buy","ordertype":"limit","price":"27732.00000","cost":"0.20020","fee":"0.00000","vol":"0.00020000","margin":"0.00000","misc":"","trade_id":74625834,"maker":True}}}
                  # $ref: './examples/responses/user/trades/query.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/OpenPositions:
    post:
      summary: Get Open Positions
      description: |
        Get information about open margin positions.

        **API Key Permissions Required:** `Orders and trades - Query open orders & trades`
      tags:
        - Account Data
      operationId: getOpenPositions

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - nonce
              properties:
                nonce:
                  $ref: "./partials/properties/nonce.yaml"
                txid:
                  type: string
                  description: Comma delimited list of txids to limit output to
                docalcs:
                  type: boolean
                  description: Whether to include P&L calculations
                  default: false
                consolidation:
                  type: string
                  description: Consolidate positions by market/pair
                  enum:
                    - market
                rebase_multiplier:
                  $ref: "./partials/properties/rebase_multiplier.yaml"
            examples:
              get Open Position:
                value:
                  nonce: 1695828490
                  docalcs: false
                  consolidation: "market"
                  txid: "STMH53C-C54CG-4SO42I, ST4USDQ-ZQBMB-FGET2G"
      responses:
        "200":
          description: Open positions info retrieved.
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: object
                    additionalProperties:
                      x-additionalPropertiesName: txid
                      title: txid
                      type: object
                      properties:
                        ordertxid:
                          type: string
                          description: Order ID responsible for the position
                        posstatus:
                          type: string
                          description: Position status
                          enum:
                            - open
                        pair:
                          type: string
                          description: Asset pair
                        time:
                          type: number
                          description: Unix timestamp of trade
                        type:
                          type: string
                          description: Direction (buy/sell) of position
                        ordertype:
                          type: string
                          description: Order type used to open position
                        cost:
                          type: string
                          description: Opening cost of position (in quote currency)
                        fee:
                          type: string
                          description: Opening fee of position (in quote currency)
                        vol:
                          type: string
                          description: Position opening size (in base currency)
                        vol_closed:
                          type: string
                          description: Quantity closed (in base currency)
                        margin:
                          type: string
                          description: Initial margin consumed (in quote currency)
                        value:
                          type: string
                          description: Current value of remaining position (if `docalcs` requested)
                        net:
                          type: string
                          description: Unrealised P&L of remaining position (if `docalcs` requested)
                        terms:
                          type: string
                          description: Funding cost and term of position
                        rollovertm:
                          type: string
                          description: Timestamp of next margin rollover fee
                        misc:
                          type: string
                          description: Comma delimited list of add'l info
                        oflags:
                          type: string
                          description: Comma delimited list of opening order flags
                  error:
                    $ref: "./schemas/objects/errors/error.yaml"
              #   $ref: './schemas/responses/funding/withdrawals/recent.yaml'
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "TF5GVO-T7ZZ2-6NBKBI":
                          {
                            "ordertxid": "OLWNFG-LLH4R-D6SFFP",
                            "posstatus": "open",
                            "pair": "XXBTZUSD",
                            "time": 1605280097.8294,
                            "type": "buy",
                            "ordertype": "limit",
                            "cost": "104610.52842",
                            "fee": "289.06565",
                            "vol": "8.82412861",
                            "vol_closed": "0.20200000",
                            "margin": "20922.10568",
                            "value": "258797.5",
                            "net": "+154186.9728",
                            "terms": "0.0100% per 4 hours",
                            "rollovertm": "1616672637",
                            "misc": "",
                            "oflags": "",
                          },
                        "T24DOR-TAFLM-ID3NYP":
                          {
                            "ordertxid": "OIVYGZ-M5EHU-ZRUQXX",
                            "posstatus": "open",
                            "pair": "XXBTZUSD",
                            "time": 1607943827.3172,
                            "type": "buy",
                            "ordertype": "limit",
                            "cost": "145756.76856",
                            "fee": "335.24057",
                            "vol": "8.00000000",
                            "vol_closed": "0.00000000",
                            "margin": "29151.35371",
                            "value": "240124.0",
                            "net": "+94367.2314",
                            "terms": "0.0100% per 4 hours",
                            "rollovertm": "1616672637",
                            "misc": "",
                            "oflags": "",
                          },
                        "TYMRFG-URRG5-2ZTQSD":
                          {
                            "ordertxid": "OF5WFH-V57DP-QANDAC",
                            "posstatus": "open",
                            "pair": "XXBTZUSD",
                            "time": 1610448039.8374,
                            "type": "buy",
                            "ordertype": "limit",
                            "cost": "0.00240",
                            "fee": "0.00000",
                            "vol": "0.00000010",
                            "vol_closed": "0.00000000",
                            "margin": "0.00048",
                            "value": "0",
                            "net": "+0.0006",
                            "terms": "0.0100% per 4 hours",
                            "rollovertm": "1616672637",
                            "misc": "",
                            "oflags": "",
                          },
                        "TAFGBN-TZNFC-7CCYIM":
                          {
                            "ordertxid": "OF5WFH-V57DP-QANDAC",
                            "posstatus": "open",
                            "pair": "XXBTZUSD",
                            "time": 1610448039.8448,
                            "type": "buy",
                            "ordertype": "limit",
                            "cost": "2.40000",
                            "fee": "0.00264",
                            "vol": "0.00010000",
                            "vol_closed": "0.00000000",
                            "margin": "0.48000",
                            "value": "3.0",
                            "net": "+0.6015",
                            "terms": "0.0100% per 4 hours",
                            "rollovertm": "1616672637",
                            "misc": "",
                            "oflags": "",
                          },
                        "T4O5L3-4VGS4-IRU2UL":
                          {
                            "ordertxid": "OF5WFH-V57DP-QANDAC",
                            "posstatus": "open",
                            "pair": "XXBTZUSD",
                            "time": 1610448040.7722,
                            "type": "buy",
                            "ordertype": "limit",
                            "cost": "21.59760",
                            "fee": "0.02376",
                            "vol": "0.00089990",
                            "vol_closed": "0.00000000",
                            "margin": "4.31952",
                            "value": "27.0",
                            "net": "+5.4133",
                            "terms": "0.0100% per 4 hours",
                            "rollovertm": "1616672637",
                            "misc": "",
                            "oflags": "",
                          },
                      },
                  }


  /private/Ledgers:
    post:
      summary: Get Ledgers Info
      description: |
        Retrieve information about ledger entries. 50 results are returned at a time, the most recent by default.

        > **Note on Staking/Earn assets:** We have begun to migrate assets from our legacy Staking system over to a new Earn system. As such, the following assets may appear in your balances and ledger. Please see our [Support article](https://support.kraken.com/hc/en-us/articles/360039879471-What-is-Asset-S-and-Asset-M-) for more details. Note that these assets are "read-only", to interact with your balances in them please use the base asset (e.g. `USDT` to transact with your `USDT` and `USDT.F` balances).
        > * `.B`, which represents balances in new yield-bearing products, similar to `.S` (staked) and `.M` (opt-in rewards) balances
        > * `.F`, which represents balances earning automatically in Kraken Rewards

        **API Key Permissions Required:** `Data - Query ledger entries`
      tags:
        - Account Data
      operationId: getLedgers

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        $ref: "./schemas/requests/user/ledgers/info.yaml"
      responses:
        "200":
          description: Ledgers info retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/user/ledgers/info.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "ledger":
                          {
                            "L4UESK-KG3EQ-UFO4T5":
                              {
                                "refid": "TJKLXF-PGMUI-4NTLXU",
                                "time": 1688464484.1787,
                                "type": "trade",
                                "subtype": "",
                                "aclass": "currency",
                                "asset": "ZGBP",
                                "amount": "-24.5000",
                                "fee": "0.0490",
                                "balance": "459567.9171",
                              },
                            "LMKZCZ-Z3GVL-CXKK4H":
                              {
                                "refid": "TBZIP2-F6QOU-TMB6FY",
                                "time": 1688444262.8888,
                                "type": "trade",
                                "subtype": "",
                                "aclass": "currency",
                                "asset": "ZUSD",
                                "amount": "0.9852",
                                "fee": "0.0010",
                                "balance": "52732.1132",
                              },
                          },
                        "count": 2,
                      },
                  }
                # $ref: './examples/responses/user/ledgers/info.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/QueryLedgers:
    post:
      summary: Query Ledgers
      description: |
        Retrieve information about specific ledger entries. 

        > **Note on Staking/Earn assets:** We have begun to migrate assets from our legacy Staking system over to a new Earn system. As such, the following assets may appear in your balances and ledger. Please see our [Support article](https://support.kraken.com/hc/en-us/articles/360039879471-What-is-Asset-S-and-Asset-M-) for more details. Note that these assets are "read-only", to interact with your balances in them please use the base asset (e.g. `USDT` to transact with your `USDT` and `USDT.F` balances).
        > * `.B`, which represents balances in new yield-bearing products, similar to `.S` (staked) and `.M` (opt-in rewards) balances
        > * `.F`, which represents balances earning automatically in Kraken Rewards

        **API Key Permissions Required:** `Data - Query ledger entries`
      tags:
        - Account Data
      operationId: getLedgersInfo

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        $ref: "./schemas/requests/user/ledgers/query.yaml"

      responses:
        "200":
          description: Ledgers info retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/user/ledgers/query.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "L4UESK-KG3EQ-UFO4T5":
                          {
                            "refid": "TJKLXF-PGMUI-4NTLXU",
                            "time": 1688464484.1787,
                            "type": "trade",
                            "subtype": "",
                            "aclass": "currency",
                            "asset": "ZGBP",
                            "amount": "-24.5000",
                            "fee": "0.0490",
                            "balance": "459567.9171",
                          },
                      },
                  }
                # $ref: './examples/responses/user/ledgers/query.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/TradeVolume:
    post:
      summary: Get Trade Volume
      description: |
        Returns 30 day USD trading volume and resulting fee schedule for any asset pair(s) provided. Fees will not be included if `pair` is not specified as Kraken fees differ by asset pair.
        Note: If an asset pair is on a maker/taker fee schedule, the taker side is given in `fees` and maker side in `fees_maker`. For pairs not on maker/taker, they will only be given in `fees`.

        **API Key Permissions Required:** `Funds permissions - Query`
      tags:
        - Account Data
      operationId: getTradeVolume

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        $ref: "./schemas/requests/user/trades/volume.yaml"
      responses:
        "200":
          description: Trade Volume retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/user/trades/volume.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "currency": "ZUSD",
                        "volume": "200709587.4223",
                        "fees":
                          {
                            "XXBTZUSD":
                              {
                                "fee": "0.1000",
                                "minfee": "0.1000",
                                "maxfee": "0.2600",
                                "nextfee": null,
                                "nextvolume": null,
                                "tiervolume": "10000000.0000",
                              },
                          },
                        "fees_maker":
                          {
                            "XXBTZUSD":
                              {
                                "fee": "0.0000",
                                "minfee": "0.0000",
                                "maxfee": "0.1600",
                                "nextfee": null,
                                "nextvolume": null,
                                "tiervolume": "10000000.0000",
                              },
                          },
                      },
                  }
                # $ref: './examples/responses/user/trades/volume.yaml'
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/AddExport:
    post:
      summary: Request Export Report
      description: |
        Request export of trades or ledgers.

        **API Key Permissions Required:** `Data - Export data`
      tags:
        - Account Data
      operationId: addExport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - nonce
                - report
                - description
              properties:
                nonce:
                  $ref: "./partials/properties/nonce.yaml"
                report:
                  type: string
                  description: Type of data to export
                  enum:
                    - trades
                    - ledgers
                format:
                  type: string
                  description: File format to export
                  enum:
                    - CSV
                    - TSV
                  default: CSV
                description:
                  type: string
                  description: Description for the export
                fields:
                  type: string
                  default: all
                  description: |
                    Comma-delimited list of fields to include

                    * `trades`: `ordertxid`, `time`, `ordertype`, `price`, `cost`, `fee`, `vol`, `margin`, `misc`, `ledgers`
                    * `ledgers`: `refid`, `time`, `type`, `subtype`, `aclass`, `asset`, `amount`, `fee`, `balance`, `wallet`
                # asset:
                #   type: string
                #   description: |
                #     Comma-delimited list of assets to filter data by
                #   default: all
                starttm:
                  type: integer
                  description: UNIX timestamp for report start time (default 1st of the current month)
                endtm:
                  type: integer
                  description: UNIX timestamp for report end time (default now)

              example:
                  nonce: 1695828490
                  report: "trades"
                  description: "yearly report"
                  format: "CSV"
                  starttm: 1695728276
                  endtm: 1695828276
      responses:
        "200":
          description: Export request made
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Report ID
                  error:
                    $ref: "./schemas/objects/errors/error.yaml"
                example: { "error": [], "result": { "id": "TCJA" } }


  /private/ExportStatus:
    post:
      summary: Get Export Report Status
      description: |
        Get status of requested data exports.

        **API Key Permissions Required:** `Data - Export data`
      tags:
        - Account Data
      operationId: exportStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - nonce
                - report
              properties:
                nonce:
                  $ref: "./partials/properties/nonce.yaml"
                report:
                  type: string
                  description: Type of reports to inquire about
                  enum:
                    - trades
                    - ledgers
              example:
                  nonce: 1695828490
                  report: "trades"
      responses:
        "200":
          description: Export status retrieved
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Report ID
                        descr:
                          type: string
                        format:
                          type: string
                        report:
                          type: string
                        subtype:
                          type: string
                        status:
                          type: string
                          description: Status of the report
                          enum:
                            - Queued
                            - Processing
                            - Processed
                        flags:
                          type: string
                          deprecated: true
                        fields:
                          type: string
                        createdtm:
                          type: string
                          description: UNIX timestamp of report request
                        expiretm:
                          type: string
                          deprecated: true
                        starttm:
                          type: string
                          description: UNIX timestamp report processing began
                        completedtm:
                          type: string
                          description: UNIX timestamp report processing finished
                        datastarttm:
                          type: string
                          description: UNIX timestamp of the report data start time
                        dataendtm:
                          type: string
                          description: UNIX timestamp of the report data end time
                        aclass:
                          type: string
                          deprecated: true
                        asset:
                          type: string

                  error:
                    $ref: "./schemas/objects/errors/error.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      [
                        {
                          "id": "VSKC",
                          "descr": "my_trades_1",
                          "format": "CSV",
                          "report": "trades",
                          "subtype": "all",
                          "status": "Processed",
                          "flags": "0",
                          "fields": "all",
                          "createdtm": "1688669085",
                          "expiretm": "1688878685",
                          "starttm": "1688669093",
                          "completedtm": "1688669093",
                          "datastarttm": "1683556800",
                          "dataendtm": "1688669085",
                          "aclass": "forex",
                          "asset": "all",
                        },
                        {
                          "id": "TCJA",
                          "descr": "my_trades_1",
                          "format": "CSV",
                          "report": "trades",
                          "subtype": "all",
                          "status": "Processed",
                          "flags": "0",
                          "fields": "all",
                          "createdtm": "1688363637",
                          "expiretm": "1688573237",
                          "starttm": "1688363664",
                          "completedtm": "1688363664",
                          "datastarttm": "1683235200",
                          "dataendtm": "1688363637",
                          "aclass": "forex",
                          "asset": "all",
                        },
                      ],
                  }


  /private/RetrieveExport:
    post:
      summary: Retrieve Data Export
      description: |
        Retrieve a processed data export 

        **API Key Permissions Required:** `Data - Export data`
      tags:
        - Account Data
      operationId: retrieveExport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - nonce
                - id
              properties:
                nonce:
                  $ref: "./partials/properties/nonce.yaml"
                id:
                  type: string
                  description: Report ID to retrieve
              example:
                  nonce: 1695828490
                  id: "1234556"
      responses:
        "200":
          description: Data export report retrieved
          content:
            application/octet-stream:
              schema:
                properties:
                  report:
                    type: string
                    format: binary
                    description: Binary zip archive containing the report

               # example: {"error":[],"result":[{"id":"VSKC","descr":"my_trades_1","format":"CSV","report":"trades","subtype":"all","status":"Processed","flags":"0","fields":"all","createdtm":"1616669085","expiretm":"1617878685","starttm":"1616669093","completedtm":"1616669093","datastarttm":"1614556800","dataendtm":"1616669085","aclass":"forex","asset":"all"},{"id":"TCJA","descr":"my_trades_1","format":"CSV","report":"trades","subtype":"all","status":"Processed","flags":"0","fields":"all","createdtm":"1617363637","expiretm":"1618573237","starttm":"1617363664","completedtm":"1617363664","datastarttm":"1617235200","dataendtm":"1617363637","aclass":"forex","asset":"all"}]}


  /private/RemoveExport:
    post:
      summary: Delete Export Report
      description: |
        Delete exported trades/ledgers report

        **API Key Permissions Required:** `Data - Export data`
      tags:
        - Account Data
      operationId: removeExport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - nonce
                - id
                - type
              properties:
                nonce:
                  $ref: "./partials/properties/nonce.yaml"
                id:
                  type: string
                  description: ID of report to delete or cancel
                type:
                  type: string
                  description: |
                    `delete` can only be used for reports that have already been processed. Use `cancel` for queued or processing reports.
                  enum:
                    - cancel
                    - delete
              example:
                  nonce: 1695828490
                  id: "1234556"
                  type: "cancel"
      responses:
        "200":
          description: Export report deleted or cancelled
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: object
                    properties:
                      delete:
                        type: boolean
                        description: Whether deletion was successful
                      cancel:
                        type: boolean
                        description: Whether cancellation was successful
                  error:
                    $ref: "./schemas/objects/errors/error.yaml"
                example: { "error": [], "result": { "delete": True } }


  /private/AddOrder:
    post:
      summary: Add Order
      description: |
        Place a new order.

        **Note**: See the [AssetPairs](/docs/rest-api/get-tradable-asset-pairs) endpoint for details on the available trading pairs, their price and quantity precisions, order minimums, available leverage, etc.

        **API Key Permissions Required:** `Orders and trades - Create & modify orders`
      tags:
        - Trading
      operationId: addOrder

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/trading/orders/add.yaml"


      responses:
        "200":
          description: Order added.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/trading/orders/add.yaml"
              examples:
                  Limit with conditional stop-loss:
                    value:
                      $ref: "./examples/responses/trading/orders/add.yaml"

        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/AmendOrder:
    post:
      summary: Amend Order
      description: |
        The amend request enables clients to modify the order parameters in-place without the need to cancel the existing order and create a new one.

        * The order identifiers assigned by Kraken and/or client will stay the same.
        * Queue priority in the order book will be maintained where possible. 
        * If an amend request will reduce the order quantity below the existing filled quantity, the remaining quantity will be cancelled.

        For more detail, see [amend transaction guide](/docs/guides/spot-amends).

        **API Key Permissions Required:** `Orders and trades - Create & modify orders` or `Orders and trades - Cancel & close orders`
      tags:
        - Trading
      operationId: amendOrder

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/trading/orders/amend.yaml"

      responses:
        "200":
          description: |
            A successful amend request will return the unique Kraken amend identifier.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/trading/orders/amend.yaml"


  /private/CancelOrder:
    post:
      summary: Cancel Order
      description: |
        Cancel a particular open order (or set of open orders) by `txid`, `userref` or `cl_ord_id`

        **API Key Permissions Required:** `Orders and trades - Create & modify orders` or `Orders and trades - Cancel & close orders`
      tags:
        - Trading
      operationId: cancelOrder

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/trading/orders/cancel.yaml"

      responses:
        "200":
          description: Open order cancelled.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/trading/orders/cancel.yaml"

        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/CancelAll:
    post:
      summary: Cancel All Orders
      description: |
        Cancel all open orders

        **API Key Permissions Required:** `Orders and trades - Create & modify orders` or `Orders and trades - Cancel & close orders`
      tags:
        - Trading
      operationId: cancelAllOrders

      # parameters:
      #   - name: user_iiban
      #     $ref: "./partials/parameters/query/user_iiban.yaml"

      requestBody:
        $ref: "./schemas/requests/nonceOnly.yaml"

      responses:
        "200":
          description: Open orders cancelled.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/trading/orders/cancel.yaml"


  /private/CancelAllOrdersAfter:
    post:
      summary: Cancel All Orders After X
      tags:
        - Trading
      operationId: cancelAllOrdersAfter
      description: |
        CancelAllOrdersAfter provides a "Dead Man's Switch" mechanism to protect the client from network malfunction, extreme latency or unexpected matching engine downtime. The client can send a request with a timeout (in seconds), that will start a countdown timer which will cancel *all* client orders when the timer expires. The client has to keep sending new requests to push back the trigger time, or deactivate the mechanism by specifying a timeout of 0. If the timer expires, all orders are cancelled and then the timer remains disabled until the client provides a new (non-zero) timeout.

        The recommended use is to make a call every 15 to 30 seconds, providing a timeout of 60 seconds. This allows the client to keep the orders in place in case of a brief disconnection or transient delay, while keeping them safe in case of a network breakdown. It is also recommended to disable the timer ahead of regularly scheduled trading engine maintenance (if the timer is enabled, all orders will be cancelled when the trading engine comes back from downtime - planned or otherwise).

        **API Key Permissions Required:** `Orders and trades - Create & modify orders` or `Orders and trades - Cancel & close orders`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - nonce
                - timeout
              properties:
                nonce:
                  $ref: "./partials/properties/nonce.yaml"
                timeout:
                  type: integer
                  description: Duration (in seconds) to set/extend the timer, it should be less than 86400 seconds.

              example:
                  nonce: 1695828490
                  timeout: 120
      responses:
        "200":
          description: Dead man's switch timer reset or disabled.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      currentTime:
                        description: Timestamp (RFC3339 format) at which the request was received
                        type: string
                      triggerTime:
                        description: Timestamp (RFC3339 format) after which all orders will be cancelled, unless the timer is extended or disabled
                        type: string
                  error:
                    # type: array
                    # items:
                    $ref: "schemas/objects/errors/error.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "currentTime": "2023-03-24T17:41:56Z",
                        "triggerTime": "2023-03-24T17:42:56Z",
                      },
                  }


  /private/GetWebSocketsToken:
    post:
      summary: Get Websockets Token
      description: |
        An authentication token must be requested via this REST API endpoint in order to connect to and authenticate with our [Websockets API](../guides/spot-ws-auth). The token should be used within 15 minutes of creation, but it does not expire once a successful Websockets connection and private subscription has been made and is maintained.

        **API Key Permissions Required:** `WebSocket interface - On`
      tags:
        - Trading
      operationId: getWebsocketsToken
      requestBody:
        $ref: "./schemas/requests/nonceOnly.yaml"

      responses:
        "200":
          description: Websockets token retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    # title: ServerTime
                    type: object
                    properties:
                      token:
                        description: Websockets token
                        type: string
                      expires:
                        description: Time (in seconds) after which the token expires
                        type: integer
                  error:
                    # type: array
                    # items:
                    $ref: "schemas/objects/errors/error.yaml"
                example:
                  {
                    "error": [],
                    "result":
                      {
                        "token": "1Dwc4lzSwNWOAwkMdqhssNNFhs1ed606d1WcF3XfEMw",
                        "expires": 900,
                      },
                  }


  /private/AddOrderBatch:
    post:
      summary: Add Order Batch
      description: |
        Sends a collection of orders (minimum of 2 and maximum 15): 
        * Validation is performed on the whole batch prior to submission to the engine. If an order fails validation, the whole batch will be rejected.
        * On submission to the engine, if an order fails pre-match checks (i.e. funding), then the individual order will be rejected and remainder of the batch will be processed. 
        * All orders in batch are limited to a single pair.

        **Note**: See the [AssetPairs](/docs/rest-api/get-tradable-asset-pairs) endpoint for details on the available trading pairs, their price and quantity precisions, order minimums, available leverage, etc.

        **API Key Permissions Required:** `Orders and trades - Create & modify orders` and `Orders and trades - Cancel & close orders`

      tags:
        - Trading
      operationId: addOrderBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/trading/orders/batchadd.yaml"
      responses:
        "200":
          description: The order of returned `orders` in the response array is the same as the order of the order list sent in request.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/trading/orders/batchadd.yaml"
              examples:
                Limits, one with conditional stop-loss:
                  value:
                    $ref: "./examples/responses/trading/orders/batchadd.yaml"
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/CancelOrderBatch:
    post:
      summary: Cancel Order Batch
      description: |
        Cancel multiple open orders  by `txid`, `userref` or `cl_ord_id`(maximum 50 total unique IDs/references)

        **API Key Permissions Required:** `Orders and trades - Create & modify orders` or `Orders and trades - Cancel & close orders`
      tags:
        - Trading
      operationId: cancelOrderBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/trading/orders/batchcancel.yaml"

      responses:
        "200":
          description: Open order cancelled.
          content:
            application/json:
              example:
                $ref: "./examples/responses/trading/orders/batchcancel.yaml"
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/EditOrder:
    post:
      summary: Edit Order
      description: |
        Sends a request to edit the order parameters of a live order. When an order has been successfully modified, the original order will be cancelled and a new order will be 
        created with the adjusted parameters a new `txid` will be returned in the response.

        :::note
        The new [AmendOrder](/docs/rest-api/amend-order) endpoint resolves the caveats listed below and has additional performance gains.

        There are a number of caveats for `EditOrder`:
        * triggered stop loss or profit take profit orders are not supported.
        * orders with conditional close terms attached are not supported.
        * orders where the executed volume is greater than the newly supplied volume will be rejected.
        * `cl_ord_id` is not supported.
        * existing executions will are associated with the original order and not copied to the amended order.
        * queue position will not be maintained.
        :::

        **API Key Permissions Required:** `Orders and trades - Create & modify orders` and `Orders and trades - Cancel & close orders`
      tags:
        - Trading
      operationId: editOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/trading/orders/edit.yaml"
      responses:
        "200":
          description: Order edited.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/trading/orders/edit.yaml"
              examples:
                Limit with conditional stop-loss:
                  value:
                    $ref: "./examples/responses/trading/orders/edit.yaml"
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/DepositMethods:
    post:
      summary: Get Deposit Methods
      description: |
        Retrieve methods available for depositing a particular asset.

        **API Key Permissions Required:** `Funds permissions - Query` and `Funds permissions - Deposit`
      tags:
        - Funding
      operationId: getDepositMethods
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/funding/deposits/methods.yaml"

      responses:
        "200":
          description: Deposit methods retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/funding/deposits/methods.yaml"

        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/DepositAddresses:
    post:
      summary: Get Deposit Addresses
      description: |
        Retrieve (or generate a new) deposit addresses for a particular asset and method.

        **API Key Permissions Required:** `Funds permissions - Query`
      tags:
        - Funding
      operationId: getDepositAddresses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/funding/deposits/addresses.yaml"

      responses:
        "200":
          description: Deposit addresses retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/funding/deposits/addresses.yaml"
        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/DepositStatus:
    post:
      summary: Get Status of Recent Deposits
      description: |
        Retrieve information about recent deposits. Results are sorted by recency, use the `cursor` parameter to iterate through list of deposits (page size equal to value of `limit`) from newest to oldest.
        **API Key Permissions Required:** `Funds permissions - Query`
      tags:
        - Funding
      operationId: getStatusRecentDeposits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/funding/deposits/recent.yaml"

      responses:
        "200":
          description: Recent deposits retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/funding/deposits/recent.yaml"

        # '500':
        #   $ref: './partials/responses/500.yaml'


  /private/WithdrawMethods:
    post:
      summary: Get Withdrawal Methods
      description: |
        Retrieve a list of withdrawal methods available for the user.

        **API Key Permissions Required:** `Funds permissions - Query` and `Funds permissions - Withdraw`
      tags:
        - Funding
      operationId: getWithdrawalMethods
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/funding/withdrawals/methods.yaml"
      responses:
        "200":
          description: Withdrawal methods retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/funding/withdrawals/methods.yaml"


  /private/WithdrawAddresses:
    post:
      summary: Get Withdrawal Addresses
      description: |
        Retrieve a list of withdrawal addresses available for the user.

        **API Key Permissions Required:** `Funds permissions - Query` and `Funds permissions - Withdraw`
      tags:
        - Funding
      operationId: getWithdrawalAddresses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/funding/withdrawals/addresses.yaml"
      responses:
        "200":
          description: Withdrawal addresses retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/funding/withdrawals/addresses.yaml"


  /private/WithdrawInfo:
    post:
      summary: Get Withdrawal Information
      description: |
        Retrieve fee information about potential withdrawals for a particular asset, key and amount.

        **API Key Permissions Required:** `Funds permissions - Query` and `Funds permissions - Withdraw`
      tags:
        - Funding
      operationId: getWithdrawalInformation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/funding/withdrawals/info.yaml"

      responses:
        "200":
          description: Withdrawal information retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/funding/withdrawals/info.yaml"


  /private/Withdraw:
    post:
      summary: Withdraw Funds
      description: |
        Make a withdrawal request.    

        **API Key Permissions Required:** `Funds permissions - Withdraw`
      tags:
        - Funding
      operationId: withdrawFunds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/funding/withdrawals/withdrawal.yaml"

      responses:
        "200":
          description: Withdrawal created.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/funding/withdrawals/withdrawal.yaml"


  /private/WithdrawStatus:
    post:
      summary: Get Status of Recent Withdrawals
      description: |
        Retrieve information about recent withdrawals. Results are sorted by recency, use the `cursor` parameter to iterate through list of withdrawals (page size equal to value of `limit`) from newest to oldest.

        **API Key Permissions Required:** `Funds permissions - Withdraw` or `Data - Query ledger entries`
      tags:
        - Funding
      operationId: getStatusRecentWithdrawals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/funding/withdrawals/recent.yaml"

      responses:
        "200":
          description: Recent withdrawals retrieved.
          content:
            application/json:
              schema:
                $ref: "./schemas/responses/funding/withdrawals/recent.yaml"


  /private/WithdrawCancel:
    post:
      summary: Request Withdrawal Cancellation
      description: |
        Cancel a recently requested withdrawal, if it has not already been successfully processed.

        **API Key Permissions Required:** `Funds permissions - Withdraw`, unless withdrawal is a `WalletTransfer`, then no permissions are required.
      tags:
        - Funding
      operationId: cancelWithdrawal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/requests/funding/withdrawals/cancel.yaml"


      responses:
        "200":
          description: Withdrawal cancellation requested.
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: boolean
                    description: Whether cancellation was successful or not.
                  error:
                    $ref: "./schemas/objects/errors/error.yaml"
                example: { "error": [], "result": true }


  /private/WalletTransfer:
    post:
      summary: Request Wallet Transfer
      description: |
        Transfer from a Kraken spot wallet to a Kraken Futures wallet. Note that a transfer in the other direction must be requested via the Kraken Futures API endpoint for [withdrawals to Spot wallets](../futures-api/trading/withdrawal).

        **API Key Permissions Required:** `Funds permissions - Query`
      tags:
        - Funding
      operationId: walletTransfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - nonce
                - asset
                - from
                - to
                - amount
              properties:
                nonce:
                  $ref: "./partials/properties/nonce.yaml"
                asset:
                  type: string
                  description: Asset to transfer (asset ID or `altname`)
                  example: XBT
                from:
                  type: string
                  description: Source wallet
                  enum:
                    - Spot Wallet
                to:
                  type: string
                  description: Destination wallet
                  enum:
                    - Futures Wallet
                amount:
                  type: string
                  description: Amount to transfer
              example:
                  nonce: 1695828271
                  asset: "XBT"
                  from: "Spot Wallet"
                  to: "Futures Wallet"
                  amount: "2.54"

      responses:
        "200":
          description: Transfer created.
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: object
                    properties:
                      refid:
                        type: string
                        description: Reference ID
                        example: FTQcuak-V6Za8qrWnhzTx67yYHz8Tg
                  error:
                    $ref: "./schemas/objects/errors/error.yaml"
              #   $ref: './schemas/responses/funding/withdrawals/recent.yaml'
                example:
                  {
                    "error": [],
                    "result": { "refid": "FTQcuak-V6Za8qrWnhzTx67yYHz8Tg" },
                  }


  /private/CreateSubaccount:
    post:
      summary: Create Subaccount
      description: |
        Create a trading subaccount. **Note:** `CreateSubaccount` must be called using an API key from the master account.

        **API Key Permissions Required:** `Funds permissions - Withdraw`
      tags:
        - Subaccounts
      operationId: createSubaccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - nonce
                - email
                - username
              properties:
                nonce:
                  $ref: "./partials/properties/nonce.yaml"
                username:
                  type: string
                  description: Username for the subaccount
                email:
                  type: string
                  description: Email address for the subaccount
              example:
                  nonce: 1695828271
                  username: "abc123"
                  email: "abc123@gmail.com"
      responses:
        "200":
          description: Subaccount created.
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: boolean
                    description: Whether subaccount creation was successful or not.
                  error:
                    $ref: "./schemas/objects/errors/error.yaml"
                example: { "error": [], "result": true }


  /private/AccountTransfer:
    post:
      summary: Account Transfer
      description: |
[...]
